/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #6fe90c;
  --secondary-color: #3e7f05;
  --background: #fbfbfb;
  --light-grey: #afafaf;
  --dark-grey: #4e4e4e;
}

body {
  font-family: "Arial", serif;
  background-color: var(--background);
}
